html,
body {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #2cf76a, #f5ea9c);
}

.app_colorpicker_container {
  background-color: rgb(228, 67, 67);
  width: 50%;
  min-height: 500px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}